* {margin: 0; padding: 0;}
html, body {
    height: 100%;
  }
.wrapper {height: 100%;
background-image: url(./resources/static/css/img/1920x1080-px-artwork-clouds-illustration-sky-1183065-wallhere.com.jpg);}