.wrapper>header{height: 10vh;}
.wrapper>header> .wrapper-head{
    display: flex;
    justify-content: space-between;
}
.wrapper>header> .wrapper-head> .news{
    width: 400px;
    height: 500px;
    justify-content: space-evenly;
    align-items: center;
    font-size:4em;
}

.news-list {
    visibility: hidden;
    font-size:20px;
  }

.wrapper>header> .wrapper-head> .hour{
    width: 150px;
    height: 100px;
    top:10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-end;
    flex-direction: column;
    font-family: 'Tourney', cursive;

}
.wrapper>header> .wrapper-head> .hour> .time{
    
    letter-spacing: 0.3em;
    font-size: 30px;
    font-size:2em;
}

.wrapper>header> .wrapper-head> .hour> .date{
    letter-spacing: 0.1em;
    font-size: 20px;
    font-size:1.5em;
}